<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>about</title>
     {% load static %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
   <link rel="icon" href="{% static 'static/assets/7269995.png' %}">

</head>
<body>


<h1>ADDITIONAL INFORMATION ABOUT SHOPDISH</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut debitis, delectus deleniti distinctio explicabo harum id illo in ipsum iure minima nulla officiis perferendis praesentium quos rem saepe sint suscipit!</span><span>Accusantium aperiam dolorem eius eos, exercitationem itaque non obcaecati perferendis porro praesentium quaerat quibusdam sunt! Ad aliquam facere illo illum impedit minima neque nisi nobis nulla, pariatur possimus similique vitae!</span></p>


<h2>Why Choose Us?</h2>
<!---begining of main div---->
<div id="main">

  <div class="mydiv">
    <img src="{% static 'assets/img_2.png' %}" alt="" class="image">
  <h3>rolex</h3>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque deleniti dolore dolores doloribus earum est fuga ipsa laboriosam magni modi molestiae nam neque, odit quisquam sed suscipit veritatis voluptatem?</span><span>Ab animi culpa iste itaque sint! Culpa dolorem harum hic in itaque quasi ut vel? Minima nihil quia quo temporibus voluptatem. Assumenda ex fuga hic impedit libero nostrum placeat, quae.</span></p>
  <button>more</button>
  </div>

  <div class="mydiv">

    <img src="{% static 'assets/img_5.png' %}" alt=""class="image">
  <h3>apple</h3>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque deleniti dolore dolores doloribus earum est fuga ipsa laboriosam magni modi molestiae nam neque, odit quisquam sed suscipit veritatis voluptatem?</span><span>Ab animi culpa iste itaque sint! Culpa dolorem harum hic in itaque quasi ut vel? Minima nihil quia quo temporibus voluptatem. Assumenda ex fuga hic impedit libero nostrum placeat, quae.</span></p>
  <button>more</button>

  </div>

  <div class="mydiv">

    <img src="{% static 'assets/img_4.png' %}" alt=""class="image">
  <h3>naiwrist</h3>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque deleniti dolore dolores doloribus earum est fuga ipsa laboriosam magni modi molestiae nam neque, odit quisquam sed suscipit veritatis voluptatem?</span><span>Ab animi culpa iste itaque sint! Culpa dolorem harum hic in itaque quasi ut vel? Minima nihil quia quo temporibus voluptatem. Assumenda ex fuga hic impedit libero nostrum placeat, quae.</span></p>
  <button>more</button>

  </div>



</div>

<!---end of main div--->


















</body>
</html>
