<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>gallery</title>
  {% load static %}


  <style>
    h1{
      text-align: center;
      background-color: black;
      color: white;
      line-height: 80px;

    }
h1:hover{
  background-color: #4ac1f7;
}

img{
  width: 280px;
  height: 280px;
}


  </style>
</head>
<body>
<h1>Products Offered At Shopdish</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut culpa dolor perspiciatis rem repellat sed vitae! Cum, debitis dolore eius iure maxime nam repudiandae sapiente, soluta suscipit tenetur ullam voluptas.</span><span>A cupiditate dignissimos dolores dolorum earum eligendi enim exercitationem facere fugit impedit ipsa iure iusto magnam minima minus nulla numquam odio officiis pariatur perspiciatis quos reiciendis, repellendus ut vel voluptas.</span></p>

<img src="{% static 'assets/img.png' %}" alt="">
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/lambo.jpeg' %}" alt="">
<img src="{% static 'assets/mb8.jpeg' %}" alt="">





</body>
</html>
