<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>home</title>
       {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <style>
    h1{
      text-align: center;
      color: #0c0a0a;
      font-size: 50px;
      text-shadow: 8px 8px 8px #632787;
    }


  </style>


</head>
<body>
<!----links--->
<a href="{% url 'gallary' %}">Gallary</a>
<a href="{% url 'about' %}">about</a>




<marquee behavior="" direction=""><h1>SHOPDISH APP</h1></marquee>


<P>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae, delectus dolores eligendi eum hic
  inventore ipsam modi odio porro provident quas quia quibusdam soluta unde veritatis voluptatem voluptatibus.
</div>
<div>Animi at consectetur consequatur dicta earum eligendi esse inventore ipsum iusto, laboriosam libero obcaecati
  pariatur, quaerat quasi quo, sed unde ut voluptates? Ab autem eaque exercitationem harum impedit neque quis.
</div></P>


<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, mollitia, quos. At commodi ea, excepturi expedita harum ipsa, iusto libero nesciunt nostrum perspiciatis reiciendis sed similique tempore, ut voluptas voluptatibus?</span><span>Architecto atque autem blanditiis cum dolor eius iste nam quis voluptates! Ad adipisci cupiditate dignissimos doloremque ea magnam odit officia optio rem voluptates? Aliquam dolore facere maiores perspiciatis placeat reprehenderit.</span><span>Ab architecto asperiores aspernatur autem cumque, deserunt eligendi enim eos, facilis illum iste labore maxime obcaecati odio officia, optio quae quaerat quam quisquam repellat sequi sit tenetur vitae voluptatem voluptates.</span></p>








</body>
</html>
